*.egg-info
*.log
*.pyc
*.pyd
*.pyo
*_cache
.aws
.cache
.coverage
.coverage.*
.dockerignore
.env
.git
.mypy*
.tox
.venv
.vscode/
Dockerfile
__pycache__
coverage.xml
db.sqlite3
env
pip-delete-this-directory.txt
pip-log.txt
spark*
venv
workspace/data/
workspace/dist/